span.wpcf7-not-valid-tip {
  font-family: "LatoLight", sans-serif !important;
  color: #ff0606 !important;
  font-size: 12px !important;
}
div.wpcf7 .ajax-loader {
  position: absolute !important;
  bottom: 20% !important;
}
.dropdown-item.active,
.dropdown-item:active {
  background: unset !important;
}
