#single-post {
  margin-top: 30px;
  padding-top: 25px;
  background: url("assets/images/services-bg.png");
  background-size: auto;
  background-repeat: no-repeat no-repeat;
  .post-info {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: rgba(5, 164, 216, 0.06);
    .post-title {
      h1 {
        @include font("PtSans", 36px, 900, 2px);
      }
      color: #2d77bd;
      padding: 15px 10px;
      @media screen and (min-width: 576px) and (max-width: 767px) {
        h1 {
          font-size: 30px;
        }
      }
      @media screen and (max-width: 575px) {
        h1 {
          font-size: 21px;
        }
      }
    }
  }
  .page-cover {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
  .main-content {
    margin-top: 37px;
    .page-text {
      background-color: rgba(5, 164, 216, 0.06);
      font-family: "LatoLight", sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 50px 20px 60px 20px;
      a[rel="prev"] {
        left: 5%;
      }
      a[rel="next"] {
        right: 5%;
      }
      a[rel="prev"],
      a[rel="next"] {
        position: absolute;
        bottom: -18px;
        img {
          transition: all 0.7s ease-in-out;
          border-radius: 50%;
        }
        &:hover {
          img {
            transform: scale(1.08);
            box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2),
              0 0 24px rgba(0, 0, 0, 0.12);
          }
        }
      }
      p {
        font-size: 17px;
        color: #000;
        line-height: 25px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "LatoLight", sans-serif;
        font-weight: bold;
        color: #0a4f91;
        font-size: 23px;
        line-height: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      h3.special-text {
        color: #febf34;
        margin-bottom: 0;
      }
    }
  }
  // Start Media query
  @media screen and (max-width: 575px) {
    .main-content {
      .page-text {
        padding: 35px 15px 35px 15px;
        p,
        li,
        a,
        ul,
        ol {
          font-size: 15px;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-size: 18px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
