header {
  border-bottom: 11px solid #8ac2e5;
  .carousel-indicators {
    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #c5c5c5;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  i.fa {
    font-size: 80px;
  }
  .carousel-item {
    .carousel-caption {
      top: 45%;
      transform: translateY(-50%);
      .head-text {
        max-width: 640px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        margin: auto;
      }
      h5 {
        @include font("LatoLight", 50px, 900, normal);
        letter-spacing: -3px;
        line-height: 60px;
        color: #fff;
        margin-bottom: 0;
        padding: 15px 0;
      }
      p {
        @include font("PtSans", 20px, 900, normal);
        line-height: 25px;
        color: #fff;
        margin-top: 15px;
        margin-bottom: 45px;
      }
      a {
        @include font("MyriadPro", 23px, 400, normal);
        color: #fff;
        border-radius: 10px;
        background-color: #6babd9;
        opacity: 0.75;
        padding: 10px 35px;
        transition: all 0.5s ease-in-out;
        &:hover {
          box-shadow: 0 0 42px 4px rgba(107, 171, 217, 0.5);
          opacity: 1;
        }
      }
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .carousel-item {
      .carousel-caption {
        top: 40%;
        h5 {
          font-size: 40px;
          line-height: 40px;
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-indicators {
      margin-bottom: 0;
    }
    .carousel-item {
      .carousel-caption {
        top: 40%;
        h5 {
          font-size: 31px;
          line-height: 30px;
        }
        p {
          font-size: 16px;
          margin-bottom: 15px;
        }
        a {
          font-size: 16px;
          padding: 5px 30px;
        }
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    .carousel-indicators {
      bottom: 0;
    }
    i.fa {
      font-size: 60px;
    }
    .carousel-item {
      .carousel-caption {
        .head-text {
          border-top: 0;
          border-bottom: 0;
        }
        top: 40%;
        h5 {
          font-size: 22px;
          line-height: 22px;
          letter-spacing: -1px;
          padding: 0;
        }
        p {
          font-size: 16px;
          margin-top: 10px;
          margin-bottom: 10px;
          line-height: 20px;
        }
        a {
          font-size: 14px;
          padding: 5px 25px;
        }
      }
    }
  }

  @media screen and (max-width: 575px) {
    .carousel-indicators {
      display: none;
    }
    i.fa {
      font-size: 45px;
    }
    .carousel-item {
      img {
        min-height: 210px;
      }
      .carousel-caption {
        .head-text {
          border-top: 0;
          border-bottom: 0;
        }
        top: 38%;
        h5 {
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -1px;
          padding: 0;
        }
        p {
          font-size: 13px;
          margin-top: 10px;
          margin-bottom: 10px;
          line-height: 20px;
        }
        a {
          font-size: 14px;
          padding: 5px 25px;
        }
      }
    }
  }
}
