#our-services {
  margin: 70px 0; // add 20pd to next section;
  background: url("assets/images/services-bg.png");
  background-size: auto;
  background-repeat: no-repeat no-repeat;
  .section-title {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100px;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: 2px;
      background-color: #05a4d8;
      opacity: 0.25;
    }
    h3 {
      @include font("PtSans", 40px, 900, 2px);
      color: #2d77bd;
      margin-bottom: 20px;
    }
  }
  .services {
    margin-top: 50px;
  }
  .service-col {
    margin-top: 20px;
    // min-height: 305px;
    &:nth-child(1) {
      .service-item {
        a {
          background: url("assets/images/service-1.png");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat no-repeat;
        }
      }
    }
    &:nth-child(2) {
      .service-item {
        a {
          background: url("assets/images/service-2.png");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat no-repeat;
        }
      }
    }
    &:nth-child(3) {
      .service-item {
        a {
          background: url("assets/images/service-3.png");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat no-repeat;
        }
      }
    }
    &:nth-child(4) {
      .service-item {
        a {
          background: url("assets/images/service-4.png");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat no-repeat;
        }
      }
    }
    &:nth-child(5) {
      .service-item {
        a {
          background: url("assets/images/service-5.png");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat no-repeat;
        }
      }
    }
    &:nth-child(6) {
      .service-item {
        a {
          background: url("assets/images/service-6.png");
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat no-repeat;
        }
      }
    }

    &:nth-child(2) {
      .service-item {
        max-width: 320px;
      }
    }
    &:nth-child(5) {
      .service-item {
        max-width: 320px;
      }
    }
    &:nth-child(8) {
      .service-item {
        max-width: 320px;
      }
    }
    &:nth-child(11) {
      .service-item {
        max-width: 320px;
      }
    }
    .service-item {
      height: 100%;
      margin: auto;
      &__text {
        margin-top: 25px;
        p {
          @include font("MyriadPro", 20px, 400, 1px);
          line-height: 24px;
          color: #fff;
        }
      }

      a {
        height: 100%;
        text-align: center;
        display: block;
        padding-top: 80px;
        padding-bottom: 50px;
        background-color: #05a4d8;
        transition: 0.5s ease-in-out;
        &:hover {
          text-decoration: none;
          transform: scale(1.08);
          box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2),
            0 0 24px rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .service-col .service-item {
      max-width: unset !important;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .service-col .service-item {
      a {
        padding-top: 50px;
        padding-bottom: 30px;
      }
    }
  }
  @media screen and (max-width: 575px) {
    .section-title {
      h3 {
        font-size: 32px;
      }
    }
    .service-col .service-item {
      height: auto;
      a {
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
        &:hover {
          transform: scale(1);
        }
      }
      &__text {
        p {
          br {
            display: none;
          }
        }
      }
    }
    margin: 40px 0;
    .services {
      margin-top: 30px;
    }
  }
}
